label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

button {
  margin-top: 5px;
  margin-left : 5px;
  margin-bottom: 5px;
}
.update-btn {
  width : 100px;
  height : 40px;  
  padding-left : 10px;
}
.short-form{
  width : 300px;
  display :flex;
  flex-direction: row;
}
.div-button {
  display: flex;
  flex-direction: row;

}
.selected-form {
  margin-top: 5px;
  color : white;
  background-color: grey;
}
.jumbotron {
  background-color: aqua;
  height : 100px;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

.board{
  /* margin-left: 100px; */
  /* height: 100%; */
  justify-content: center;
  text-align: center;
}
.chart-div {
  display: flex;
  flex-direction: row;
}
.searchItem{
  margin-left: auto;
  margin-right: 30px;
}
.searchBox {
  border-radius: 20px;
  height: 40px;
}
.edit-form {
  border-radius: 5px;
  background-color: lightcyan;
}
.task-button {
  margin-left: 20px;
  border-radius: 100%;
}

.dropdown-toggle::after{
  display : none;
}
.containerN {
  position:relative;
  padding-left: 5px;
  padding-right: 2px;
}
.notifs-count {
  background-color: red;
  position: absolute;
  margin-top: 23px;
  margin-left: 30px;
  z-index: 2;
  border-radius: 50%;
}
.count-num{
  margin-left: 5px;
  margin-right: 5px;
}
.notif-content {
  background-color: rgb(212, 243, 207);
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.notif-delete-button {
  border-style: none;
  background-color: lightgray;
  border-radius: 100%;
  margin-left: 10px;
}
.selected-user {
  text-decoration: none;
  color: rgb(251, 245, 245);
}
.spinner-div {
  margin-top: 100px;
  height : 100px;
  width : 100%;
  justify-content : center;
  text-align: center;
}
.spin {
  font-size : 100px;
  text-align: center;
}
.page-btn {
  border-radius: 100%;
  background-color:lightblue;
  border-style: none;
}
.page-btn-txt {
  padding: 4px;
}
.modal .modal-content {
  background-color: rgb(152, 165, 174);
}
.home-div {
  display: flex;
  flex-direction: row;
}
.timeline-div{
  height: 300px;
  width: 50%;
  overflow-y: scroll;
  background-color: rgba(241, 232, 232, 0.844);
  margin:auto;
}
.vertical-timeline-element-content.bounce-in {
  width: 20rem;
}





